/* Pequenos ajustes opcionais */
code {
  padding: 0.1rem 0.35rem;
  border-radius: 0.35rem;
  background: rgba(0,0,0,.05);
}

textarea.form-control {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", monospace;
}
